{% extends 'Base.html' %}
{% block title %}About{% endblock %}
{% block body %}
    	<H1 class = "text2deg"><strong>About:</strong></H1>
    <div style="color: #98C4E7; margin-left: 20px; padding-top: 6px;">
    <P >Шаблоном является обычный текстовой файл, чаще всего html, который содержит в себе переменные и теги.</P>
    <p> Эти конструкции при отрисовке шаблона подменяются на данные, которые пользователь передает в качестве параметров шаблонизации.</P>
    <p>В конечном итоге у нас получается html-файл, который может быть показан в браузере пользователя.</P>
	<p>Для начала будем отдавать пользователю статичную html-страницу, в ней не будет никаких конструкций шаблонизатора.</P>
    </div>


{% endblock %}