{% extends 'Base.html' %}
{% load staticfiles %}
{% block title %}AudioPlayer{% endblock %}
{% block body %}
    	<H1 class = "text2deg"><strong>Tracks:</strong></H1>
		<div class="row">
			<div  class="col-lg-5">
                {% for element in list1 %}
                        {% include 'Media.html' %}
                {% endfor %}
            </div>
			<div  class="col-lg-7">
                {% for element in list2 %}
                    {% include 'Media.html' %}
                {% endfor %}
			</div>

		</div>
{% endblock %}